.header {
    display: flex;
    padding: 1em 2em 1.5em;
    width: 100%;
    background-color: #fff;
    justify-content: space-between;
    align-items: baseline;
    box-shadow: 0 0 1em #0003;
    margin-bottom: 1em;
    position: fixed;
    z-index: 10;
    top: 0;
    height: 8vh;
}

.header__logo{
    font-size: 1.8rem;
}

.header__nav__list {
    width: 100%;
    display: flex;
    gap: 1.5em;
    z-index: 1000;
}

.header__nav__item a{
    text-decoration: none;
    color: inherit;
    text-shadow: 0.1em 0.1em #0002;

}
.bx-menu {
    display: none;

}

@media (min-width: 300px) and (max-width:800px){

   

    .header {
        display: flex;
        padding: 0;
        align-items: center;
            margin-bottom: 0em;

     
    }

   

    .header__nav{
        min-width: 100%;
        margin-top: 0;

    }
    .header__logo{
        font-size: 1.8rem;
        padding-left: 0.7em;
        
    }


    
    .header__nav__list{
           top:8vh;
            position: absolute;       
            display: flex;
            flex-direction: column;
            left: 0;
            justify-content: flex-start;  
            align-items: flex-end;
            overflow-x: auto;
            gap: 1em;
            transform: translateX(1000px);
            padding-right: 1.2em;
            width: 100%;
            z-index: 20;
            backdrop-filter: blur(15px);
            background-color: #fa40408d ;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            transition: transform 1s ease;
            font-size: 1.2rem;
            color: white;
            font-weight: 700;                 
    
    }

    .header__nav__item a{
        
        text-shadow: 0.1em 0.1em 0.1em #000;
    
    }

   
    .bx-menu  {
        color: #fa4006;
        display: flex;
        cursor: pointer;
        justify-content: end;
        font-size: 3.5rem;
        padding-top:0.5em ;
        margin:0;
        margin-bottom: 0.4em;
        padding-right: 0.1em;
        width: 100%;

        
        
      }
      
    .bx-menu::before{
        margin: 0;
    }

     

      .openMenu{
        transform: translateX(0);
        transition: transform 1.2s ease;


      }

      .mobile__menu{
        align-content:flex-end;
      

      }
     

}