.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.slider__exterior{
    width: 100%;
    max-width: 600px;
    aspect-ratio: 1.5;
    overflow: hidden;
}

.slider__interior{
    display:flex;
    transition: transform 500ms ease;
}

.slider__img-container{
    width: 100%;
    aspect-ratio: 1.5;
    padding: 1em;
}

.slider__img{
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.slider__btn{
    position: relative;
    width: 1.8em;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #fa4006;
    color: white;
    font-size: 1.5rem;
    z-index: 1;
}

.slider__btn:hover{
    filter: brightness(1.1);
}

@media (min-width: 300px) and (max-width:800px){
    .slider__exterior{
        width: 100%;
        max-width: 100%;
        aspect-ratio: 1.5;
        overflow: hidden;
    }

    .slider__img-container{
        width: 100%;
        aspect-ratio: 1.5;
        padding: 0em;
    }

    .slider__btn{
        border:0;
        padding: 0;
    }
}
